{% extends "BaseForm.html" %}
{% block modal_title %}
    {{ titulo_ventana }}
{% endblock %}
{% block form_body %}
    <form id="formPedido" method='POST' class="form" role="form" action="{{ request.path }}">
        {% csrf_token %}
        {% if delete_error != None %}
            <div class="text-danger form-group">
                Error!!: {{ delete_error|escape }}
            </div>
        {% endif %}
        Número: {{ object.numero }}<br/>
        Fecha: {{ object.fecha }}<br/>
    </form>
    <script type="text/javascript">
        $formView = $('#formPedido');
        $("#btnGuardar").text("Eliminar");
    </script>
{% endblock form_body %}